:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --primary-blue: #3b82f6;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #f8f9fa;
  /* Light grey bg */
}

/* Custom Scrollbar for sidebar if needed */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 4px;
}

/* Custom Outline Button for accurate hover states */
.btn-custom-outline {
  color: var(--primary-blue);
  border-color: var(--primary-blue);
  background-color: transparent;
}

.btn-custom-outline:hover,
.btn-custom-outline:active,
.btn-custom-outline:focus {
  background-color: var(--primary-blue) !important;
  color: white !important;
  border-color: var(--primary-blue) !important;
}